.tab-button {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
}

.tab-button:hover {
    -fx-background-color: rgba(100, 100, 100, .6);
}

.tab-button:armed {
    -fx-background-color: rgba(50, 50, 50, .6);
}